@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
 page,
 .recom-ctner {
    height: 100%;
 }
.recom-ctner{
    background: #EDEDED;
    // padding: 0 $page-padding-lr;
    .recom-same{
        background: #FFF;
        padding: rpx(20) $page-padding-lr rpx(30) $page-padding-lr;
        margin-bottom: rpx(6);
        .recom-title{
            height: rpx(68);
            display: flex;
            align-items: center;
            image:nth-of-type(1) {
                width: rpx(68);
                height: rpx(68);
                margin-right: rpx(12);
                border-radius: 50%;
            }
            image:nth-of-type(2) {
                width: rpx(22);
                height: rpx(17);
                margin-right: rpx(12);
            }
            text:nth-of-type(1) {
                font-size: rpx(24);
                color: $color-word-two;
                flex: 1;
            }
            text:nth-of-type(2) {
                font-size: rpx(18);
                color: #999
            }
        }
        .recom-img {
            height: rpx(352);
            margin: rpx(18) 0 rpx(34) 0;
            image {
                width: 100%;
                height: 100%;
                border-radius: rpx(10);
            }
        }
        .recom-des {
            color: #000
        }
    }
}
