@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
}
.about-ctner{
   padding: rpx(12) rpx(30);
   .word {
       text-indent: 2em;
       line-height: 2;
       font-size: rpx(26);
   }
   .word-b {
       font-weight: bolder;
   }
}