@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
page,
.classify-ctner{
    height: 100%;
    position: relative;
    .ix-input-wrap{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: rpx(12) rpx(45);
        @include borderBottomOnePx;
        display: flex;
        .input-search{
            width: rpx(46);
            padding-left: rpx(16);
            border-top-left-radius: rpx(30);
            border-bottom-left-radius: rpx(30);
            background: #F6F6F6;
            display: flex;
            align-items: center;
            image {
                width: rpx(25);
                height: rpx(26);
            }
        }
        input {
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .input-msg {
            width: rpx(28);
            display: flex;
            align-items: center;
            margin-left: rpx(18);
            image {
                width: rpx(27);
                height: rpx(25);
            }
        }
    }

    .cs-scroll-outer{
        // position: absolute;
        // left: 0;
        // top: 0;
        height: 100%;
        padding-top: rpx(76);
    }
    .cs-scroll-inner{
        width: 100%;
        height: 100%;
        display: flex;
        .cs-left{
            width: rpx(220);
            position: relative;
            @include borderRightOnePx;
            text-align: center;
            .cs-left-item {
                display: inline-block;
                width: rpx(150);
                padding: rpx(10) rpx(10);
                margin: rpx(30);
                font-size: $size-one;
                line-height: 1.4;
                border-radius:rpx(26);
            }
            .cs-left-item-active {
                background: $color-word-alarm;
                color: #FFF
            }
        }
        .cs-right {
            flex: 1;
            .right-con-outer {
                padding: rpx(16)
            }
            .right-banner {
                height: rpx(228);
                margin-bottom: rpx(28);
                border-radius: rpx(10);
                overflow: hidden;
                image {
                    width: 100%;
                    height: 100%;
                }
            }
            .right-list {
                overflow: hidden;
                .right-list-item {
                    margin-right: 2%;
                }
                .right-list-item:nth-child(3n) {
                    margin-right: 0;
                }
                .right-list-item {
                    text-align:center;
                    width: 32%;
                    float: left;
                    margin-bottom: rpx(34);
                    image {
                        width: rpx(90);
                        height: rpx(100);
                        display: inline-block;
                        margin-bottom: rpx(18);
                    }
                    view {
                        line-height: 1.2;
                        font-size: $size-unit;
                    }
                }
            }
        }
    }

}
