
$color-word-three: #999;
@mixin borderBottomOnePx {
  &::after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      height: 1px;
      width: 100%;
      background: #E5E5E5;
      transform: scaleY(0.5);
  }
}

.login-container{
  padding: 0 8%;
  height: 100%;
}
.login-img{
  width: 100%;
  text-align: center;
  padding: 200rpx 0 80rpx 0;
  .login-p-img{
    display: inline-block;
    width: 150rpx;
    height: 150rpx;
    vertical-align: middle;
  }
}
.login-outer{
  width: 100%;
  .login-title{
    font-size: 36rpx;
    color: #333;
    line-height: 36px;
    font-weight: bolder;
    text-align: center;
  }
  .input-same{
    padding: 24rpx;
    position: relative;
    color: inherit;
    align-items: center;
    @include borderBottomOnePx;
    input{
      height: 30px;
      line-height: 30px;
      font-size: 28rpx
    }
    .login-placeholder{
      color: $color-word-three
    }
    .code-com{
      position: absolute;
      right: 4rpx;
      top: 50%;
      transform:translateY(-50%);
      z-index: 100;
    }
  }
  .login-submit-btn{
    width: 100%;
    height: 80rpx;
    background: #3385EE;
    border-radius: 8rpx;
    line-height: 80rpx;
    text-align: center;
    color: #FFF;
    font-size: 30rpx;
    margin: 40rpx 0 28rpx 0; 
  }
  .login-protocol{
    text-align: center;
    font-size: 22rpx;
    color: $color-word-three;
    line-height: 22rpx;
  }
}