@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
.unpayed-ctner{
    padding: 0 rpx(34);
    .unpayed-num{
        height: rpx(300);
        position: relative;
        image {
            width: 100%;
            height: 100%;
        }
        .an-title{
            position: absolute;
            right: rpx(34);
            top: rpx(52);
            font-size: rpx(26);
            color: rgba(255,255,255,0.70);
            letter-spacing: rpx(0.72);
        }
        .an-num {
            position: absolute;
            right: rpx(34);
            top: rpx(100);
            font-size: rpx(100);
            color: #FFF;
            letter-spacing: rpx(1.5);
            padding-left: rpx(34);
            text {
                position: absolute;
                left: 0;
                top: 0;
                width: rpx(18);
                height: rpx(38);
                color: #FFF;
                font-size: rpx(30);
            }
        }
    }
    .unpayed-wrap{
        margin-top: rpx(40);
        color: #1F1F1F;
        font-size: rpx(30);
        .pw-title {
            position: relative;
            padding-left: rpx(32);
            margin-bottom: rpx(40); 
            &::after {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                background: #00D9C7;
                border-radius: rpx(2);
                height: 100%;
                width: rpx(12);

            }
        }
        .pw-item{
            height: rpx(90);
            line-height: rpx(90);
            background: #F8F8F8;
            border-radius: rpx(10);
            margin-bottom: rpx(20);
            padding: 0 rpx(32);
            .pw-word1 {
                float: left;
            }
            .pw-word2 {
                float: right;
            }            
        }
    }
}