@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    height: 100%;
}
.partnerGao-ctner {
    height: 100%;
    background: #FFE5CC;
    padding: rpx(54) rpx(64);
    .gao-con-outer {
        min-height: rpx(100);
        padding: rpx(52) rpx(80);
        background: #FFF;
        border-radius: rpx(10);
        .gao-same {
            margin-bottom: rpx(20);
            display: flex;
            align-items: center;
            text {
                width: rpx(126);
                text-align: left;
            }
            textarea,
            input {
                flex: 1;
            }
            .code-outer {
                width: rpx(160);
                text-align: right;
            }
        }
        .gao-title {
            display: flex;
            align-items: center;
            margin-bottom: rpx(40);
            image {
                width: rpx(34);
                height: rpx(28);
                margin-right: rpx(10);
            }
            text:nth-of-type(2) {
                color: $color-word-alarm
            }
        }
        .textarea {
            textarea {
                width: 100%;
                background:#F6F6F6;
                height: rpx(120);
                box-sizing: border-box;
            }
        }
        .icx-input {
            border-radius: rpx(10);
        }
    }
    .gao-upload-outer {
        margin-top: rpx(50);
        min-height: rpx(60);
        background: #FFF;
        border-radius: rpx(10);
        overflow: hidden;
        .upload-btn1 {
            padding: rpx(14) 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $size-unit;
            image {
                width: rpx(60);
                height: rpx(60);
                margin-right: rpx(10);
            }
        }
        .upload-btn2 {
            padding: rpx(10) 0;
            display: flex;
            align-items: center;
            background: $color-word-alarm;
            justify-content: center;
            font-size: $size-unit;
            color: #FFF;
            view {
                width: rpx(30);
                height: rpx(30);
                margin-right: rpx(10);
            }
            image {
                width: rpx(30);
                height: rpx(30);
            }
        }
    }

    .gao-btn-outer {
        margin-top: rpx(30);
    }

}