@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';

page{
    height: 100%;
}
.goods-detail-ctner{
    height: 100%;
    padding-bottom: rpx(100);
    position: relative;
    .goods-con-outer {
        height: 100%;
        overflow: auto;
    }
   .goods-banner {
       height: rpx(438);
        swiper,
        swiper-item,
        swiper-item image {
            width: 100%;
            height: 100%;
        }
   }
   .goods-des-outer {
    //    padding: rpx(20) rpx(46);
       .tuan-price-outer {
           padding: rpx(40) rpx(44);
           background: $color-word-alarm;
           display: flex;
           align-items: center;
           color: #FFF;
           text:nth-of-type(1) {
               margin-right: rpx(6);
               font-size: rpx(34);
           }

           text:nth-of-type(2) {
                padding: rpx(6) rpx(10);
                background: #FFF;
                color: $color-word-alarm;
                border-radius: rpx(20);
                font-size: rpx(20); 
           }

            text:nth-of-type(3) {
                font-size: rpx(24);                
                flex: 1;
                text-align: right;
            }
        }
        .tuan-des-outer {
            padding: rpx(20) rpx(40);
            display: flex;
            align-items: center;
            text:nth-of-type(1) {
                font-size: rpx(26);
                flex: 1;
            }
            text:nth-of-type(2) {
                padding: rpx(8) rpx(6);
                background: $color-word-alarm;
                border-radius: rpx(6);
                color: #FFF;
            }
        }
        
        .tuan-rule-outer {
            border-top: rpx(10) solid #EEE;
            border-bottom: rpx(10) solid #EEE;
            padding: 0 rpx(46);
            .tule-tip {
                display: flex;
                padding: rpx(20) rpx(6);
                position: relative;
                @include borderBottomOnePx;
                align-items: center;
                view:nth-of-type(1) {
                    font-size: rpx(24);
                }
                view:nth-of-type(2) {
                    font-size: rpx(20);
                    color: #666;
                    flex: 1;
                    text-align: right;
                }
                image {
                    width: rpx(11);
                    height: rpx(18);
                    margin-left: rpx(10);
                }
            }

            .rule-detail {
                padding: rpx(24) 0;
                min-height: rpx(30);
                .rule-item {
                    color: $color-word-alarm;
                    display: inline-block;
                    margin-right: rpx(30);
                    margin-bottom: rpx(10);
                }
            }

        }

    //    & view:nth-of-type(2) {
    //         font-size: $size-two;
    //         margin: rpx(34) 0 rpx(16) 0;
    //     }
    //     & view:nth-of-type(3) {
    //         color: $color-word-three;
    //         font-size: $size-one
    //     }
   }
   .G-line {
       height: rpx(8);
       background: #EDEDED
   }
   .goods-bottom {
       position: fixed;
       @include borderTopOnePx;
       left: 0;
       bottom: 0;
       width: 100%;
       height: rpx(98);
       display: flex;
       background: #FFF;
       .gb-kf,
       .gb-cart {
           display: flex;
           align-items: center;
            .icx-btn {
                background: #FFF;
                padding: 0;
                line-height: 1;
                view {
                    margin-top: rpx(10)
                }
            }
       }
       .gb-kf {
           padding: rpx(12) 0;
           width: rpx(144);
           overflow: hidden;
            .icx-btn {
                image {
                    width: rpx(27);
                    height: rpx(31);
                }
            }
       }
       .gb-cart {
           position: relative;
           width: rpx(142);
           padding: rpx(12) 0;
           @include borderRightOnePx;
           @include borderLeftOnePx;
           .icx-btn {
                image {
                    width: rpx(34);
                    height: rpx(33);
                }
            }
       }
       .gb-tuan,
       .gb-join,
       .gb-buy {
            flex: 1;
            border-radius: rpx(10);
            text-align: center;
            line-height: rpx(98);
            font-weight: 600;
       }
       .gb-join {
            background:rgba(238,238,238,1);
       }
       .gb-buy {
            background:rgba(255,127,0,1);
            color: #FFF;
       }
   }
}

.goods-spc-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    .goods-spc-con {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: rpx(700);
        background: #FFF;
        .goods-des{
            position: relative;
            min-height: rpx(124);
            display: flex;
            padding: rpx(16) rpx(44) rpx(18) rpx(44);
            @include borderBottomOnePx;
            .des-l {
                width: rpx(124);
                margin-right: rpx(24);
                image {
                    width: 100%;
                    height: 100%;
                }
            }
            .des-r {
                flex: 1;
                view:nth-of-type(1) {
                    color: $color-word-alarm;
                    font-size: $size-unit;
                }
                view:nth-of-type(2) {
                    color: #999;
                    font-size: rpx(16);
                    margin-top: rpx(12);
                    margin-bottom: rpx(30);
                }
                view:nth-of-type(3) {
                    font-size: rpx(24);
                }
            }
        }

        .goods-pop-same {
            position: relative;
            padding: rpx(16) rpx(44) rpx(18) rpx(44);
            height: auto;
            @include borderBottomOnePx;
            .goods-pop-title {
                font-size: $size-unit;
                margin-bottom: rpx(12);
            }
            .goods-outer-same {
                overflow: hidden;
            }
            .small {
                padding: rpx(8) rpx(20);
                border-radius: rpx(8);
                background:rgba(238,238,238,1);
                float: left;
                margin-right: rpx(12);
                margin-bottom: rpx(8);
            }
            .small.active {
                background: $color-word-alarm;
                color: #FFF;
            }
            &.goods-buy-num {
                display: flex;
                align-items: center;
                .goods-pop-title {
                    flex: 1;
                }
                .goods-pop-title {
                    margin: 0;
                }
            }
        }
        .goods-pop-same.goods-buy-btn {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            @include borderTopOnePx;
            button {
                width: 76%;
                border-radius: rpx(30);
                margin-left: 12%;
            }
        }
    }
}

.rule-word-outer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    .rule-inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: rpx(200);
        background: #FFF;
        padding: rpx(28) rpx(48);
        .r-close {
            position: absolute;
            right: rpx(16);
            top: rpx(10);
            width: rpx(60);
            height: rpx(60);
            line-height: rpx(60);
            text-align: center;
        }
        .r-a {
            font-size: rpx(26);
            font-weight: bolder;
            margin-bottom: rpx(46);
            text-align: center;
        }
        .r-c {
            text {
                font-size: rpx(20);
                margin-right: rpx(8);
            }
        }
        .r-b ,
        .r-d {
            font-size: rpx(22);
            margin-bottom: rpx(14);
        }
        .r-d {
            margin-top: rpx(30);
        }
        .r-f {
            margin-bottom: rpx(20);
            text {
                font-size: rpx(20);
            }
            text:nth-of-type(1) {
                font-weight: bolder;
            }
        }
    }
}
