@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
  height: 100%;
  background:#EEE;
}
.return-goods-ctner {
    .return-tips {
        text-align: center;
        .return-tips-word {
            padding: rpx(12) rpx(38);
            background: #F6F6F6;
            border-radius: rpx(20);
            color: #999;
            font-size: rpx(22);
            text {
                color: $color-word-alarm;
                font-size: rpx(22);
            }
        }
    }

    .return-action-outer {
        padding: rpx(18) rpx(30);

        .return-des-outer {
            min-height: rpx(100);
            background: #FFF;
            margin-top: rpx(16);
            border-radius: rpx(10);
            padding: rpx(36) rpx(30) 0 rpx(30);
            view:nth-of-type(1){
                font-weight:bolder;
                line-height: rpx(28);
                margin-bottom: rpx(20);
            }
          .btn-div{
            view{
              font-weight: lighter;
            }
            view:nth-of-type(2),view:nth-of-type(4){
              line-height: rpx(28);
              width: rpx(630);
              padding: rpx(5) 0;
              input{
                border: rpx(3) solid #EEE;
                width: 100%;
              }
            }
            view:nth-of-type(3){
              margin-top: rpx(15);
            }
            view:nth-of-type(4){
              input{
                margin-top: rpx(15);
              }
            }
          }


          .multipleImg {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            .upload {
              position: relative;
              width:rpx(158);
              height:rpx(158);
              background:rgba(255,255,255,1);
              box-shadow:0 rpx(2) rpx(32) 0 rgba(215,215,215,0.49);
              border-radius:rpx(10);
              margin: rpx(25) rpx(20) rpx(15) 0;
              .addImg {
                width: 158rpx;
                height: 158rpx;
              }
              .deleteImg {
                width: 30rpx;
                height: 30rpx;
                position: absolute;
                top: rpx(-12);
                right: rpx(-12);
              }
            }
            .uploadDiv{
              position: relative;
              width:rpx(158);
              height:rpx(158);
              background:rgba(255,255,255,1);
              box-shadow:0 rpx(2) rpx(32) 0 rgba(215,215,215,0.49);
              border-radius:rpx(10);
              padding: rpx(50);
              margin-top: rpx(25);
              image{
                width: rpx(63);
                height: rpx(55);
              }
              view{
                font-size: rpx(18);
                width: rpx(75);
                color:rgba(153,153,153,1);
              }
            }
          }
          .img-text{
            color: #FA575B;
            font-weight: bold;
            padding: 0 0 rpx(20) 0;
            font-size: rpx(20);
            border-bottom: rpx(3) solid #F3F3F3;
          }
          .return-text{
            display: flex;
            justify-content: space-between;
            view:nth-of-type(1){
              color: #666666;
            }
            view:nth-of-type(2){
              color: #000000;
              font-weight: bold;
              display: flex;
              align-items: center;
              image{
                width: rpx(45);
                height: rpx(36);
                margin-right: rpx(10);
              }
            }
          }



        }
        .return-des-bottom{
          background: #FFF;
          margin-top: rpx(-4);
          border-radius: rpx(10);
          .bottom-two,.bottom-three,.bottom-four{
            color: #333333;
            padding:0 rpx(15);
            margin-bottom: rpx(25);
          }
          .bottom-one{
            padding:rpx(40) 0 rpx(35) rpx(15);
            border-bottom: rpx(4) solid #FAFAFA;
            font-weight: bold;
            color: #000000;
          }
          .bottom-two{
            display: flex;
            justify-content: space-between;
            margin-top: rpx(15);
            image{
              width: rpx(11);
              height: rpx(18);
            }
            #address-img{
              image{
                width: rpx(22);
                height: rpx(28);
              }
            }
          }
          .bottom-three{
            padding-bottom: rpx(20);
            image{
              border-radius: rpx(10);
              width: rpx(174);
              height: rpx(174);
            }
          }
          #address{
            display: flex;
            margin-top: rpx(-10);
            padding-bottom: rpx(15);

            view:nth-of-type(1){
            }
            view:nth-of-type(2){
              flex: 1;
            }
          }

        }
        .return-end-text{
          color: #FF7F00;
          font-size: rpx(20);
          text-align: center;
          letter-spacing: rpx(3);
          margin: rpx(10) auto;
        }
        .return-btn-outer {
          margin-top: rpx(15);
            button {
              font-weight: bold;
              border-radius: rpx(30);
                width: 50%;
                text-align: center;
            }
        }

    }

}
