@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
.contact-ctner{
    padding: rpx(12) rpx(30);
    .word {
        text-indent: 2em;
        line-height: 1.5;
        font-size: rpx(30);
        margin-bottom: rpx(18);
    }
    .word-b {
        font-weight: bolder;
        font-size: rpx(30);
    }
 }