@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    height: 100%;
}
.after-action-ctner {
    height: 100%;
    background: #EEE;
    .after-goods-outer {
        min-height: rpx(100);
        background: #FFF;
        padding: rpx(18) rpx(45)
    }
    .after-tips {
        text-align: center;
        .after-tips-word {
            padding: rpx(12) rpx(38);
            background: #F6F6F6;
            border-radius: rpx(20);
            color: #999;
            font-size: rpx(22);
            text {
                color: $color-word-alarm;
                font-size: rpx(22);
            }
        }
    }

    .after-action-outer {
        padding: rpx(18) rpx(30);
        .after-action-list {
            padding: rpx(16);
            background: #FFF;
            border-radius: rpx(10);
            view:nth-of-type(1),
            view:nth-of-type(2) {
                @include borderBottomOnePx;
            }
            view {
                padding: rpx(48) 0;
                display: flex;
                align-items: center;
                position: relative;
                image:nth-of-type(1) {
                    width: rpx(28);
                    height: rpx(24);
                    margin-right: rpx(10);
                }
                image:nth-of-type(2) {
                    width: rpx(12);
                    height: rpx(18);
                }
                text:nth-of-type(1) {
                    font-size: $size-one;
                    flex: 1;
                    font-weight: 800;
                }
                text:nth-of-type(2) {
                    font-size: $size-unit;
                    color: #999;
                    margin-right: rpx(16);
                }
            }
        }

        .after-btn-outer {
            padding: rpx(26) 0;
            border-radius: rpx(10);
            background: #FFF;
            overflow: hidden;
            margin-top: rpx(20);
            view {
                width: 50%;
                height: rpx(40);
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                image {
                    display: inline-block;
                    margin-right: rpx(10)
                }
            }
            view:nth-of-type(1) {
                image {
                    width: rpx(28);
                    height: rpx(32);
                }
            }
            view:nth-of-type(2) {
                image {
                    width: rpx(28);
                    height: rpx(28);
                }
            }
        }

    }

}