@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
page,
.index-ctner{
    height: 100%;
    .ix-input-wrap{
        position: relative;
        padding: rpx(12) rpx(45);
        @include borderBottomOnePx;
        display: flex;
        .input-search{
            width: rpx(46);
            padding-left: rpx(16);
            border-top-left-radius: rpx(24);
            border-bottom-left-radius: rpx(24);
            background: #F6F6F6;
            display: flex;
            align-items: center;
            image {
                width: rpx(26);
                height: rpx(26);
            }
        }
        input {
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .input-msg {
            width: rpx(28);
            display: flex;
            align-items: center;
            margin-left: rpx(18);
            image {
                width: rpx(27);
                height: rpx(25);
            }
        }
    }

    .ix-banner-wrap {
        margin-top: rpx(20);
        height: rpx(500);
        swiper,
        swiper-item,
        swiper-item image {
            width: 100%;
            height: 100%;
        }
    }
    .ix-goods-wrap{
        margin-top: rpx(30);
        padding: $page-padding-lr $page-padding-lr;
        .goods-area-same {
            margin-bottom: rpx(30);
            .area-title{
                // padding-top: rpx(14);
                margin-bottom: rpx(20);
                height: rpx(26);
                display: flex;
                align-items: center;
                text:nth-of-type(1) {
                    font-size: rpx(26);
                    font-weight: 600;
                    flex: 1;
                }
                text:nth-of-type(2) {
                    margin-right: rpx(4)
                }
                image {
                    width: rpx(12);
                    height: rpx(18);
                }
            }
            .home-tale{
                height: rpx(260);
                image {
                    width: 100%;
                    height: 100%;
                    border-radius: rpx(10);
                }
            }
            .area-vip {
                min-height: rpx(100);
                .area-vip-top {
                    height: 140rpx;
                    border-radius: rpx(6);
                    overflow: hidden;
                    margin-bottom: rpx(18);
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .area-vip-bottom {
                    height: rpx(140);
                    display: flex;
                    justify-content: space-between;
                    .vip-bottom-right,
                    .vip-bottom-left {
                        width: 49%;
                        height: 100%;
                        border-radius: rpx(6);
                        overflow: hidden;
                        image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .area-classify-outer {
                min-height: rpx(100);
                .area-classify-top {
                    height: 260rpx;
                    border-radius: rpx(6);
                    overflow: hidden;
                    margin-bottom: rpx(18);
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .area-classify-bottom {
                    height: rpx(250);
                    display: flex;
                    justify-content: space-between;
                    .classify-bottom-right,
                    .classify-bottom-mid,
                    .classify-bottom-left {
                        width: 32%;
                        height: 100%;
                        border-radius: rpx(6);
                        overflow: hidden;
                        image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
