@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{}
.more-ctner{
   .more-same {
       position: relative;
       @include borderBottomOnePx;
       height: rpx(74);
       display: flex;
       padding: 0 rpx(36);
       align-items: center;
       image { margin-right: rpx(14); }
       text { flex: 1; font-size: rpx(22); letter-spacing: rpx(1) }
   }
   .more-1 image {  width: rpx(25); height: rpx(27); }
   .more-2 image {  width: rpx(33); height: rpx(27); }
   .more-3 image {  width: rpx(26); height: rpx(27); }
   .more-4 image {  width: rpx(28); height: rpx(28); }
}
