@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    height: 100%;
}
.poster-ctner {
    height: 100%;
    image {
        width: 100%;
        height: 100%;
    }
}
