
@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
page{
  height: 100%;
}
.mine-ctner{
  background: #EDEDED;
  height: 100%;
  .m-logo {
    height: rpx(246);
    background: #FEA223;
    position: relative;
    .m-log-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .m-logo-con {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      display: inline-block;
      height: auto;
      view:nth-of-type(1) {
        width: rpx(100);
        height: rpx(100);
        border-radius: 50%;
        margin-bottom: rpx(16);
        border-radius: 50%;
        overflow: hidden;
      }
      view:nth-of-type(2) {
        text-align: center;
        font-size:rpx(24);
        color: #FFF;
      }
    }
  }
  .m-hy {
    position: relative;
    z-index: 1;
    transform: translateY(-30rpx);
    height: rpx(180);
    .hy-inner {
      position: relative;
      background: #4934AD;
      height: 100%;
      width: 100%;
      border-radius: rpx(10);
      image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      text,
      .hy-btn {
        font-size: $size-unit;
        height: rpx(38);
        line-height: rpx(38);
        position: absolute;
        top: rpx(15);
      }
      text {
        display: inline-block;
        left: rpx(31);
        color: #FFF;
        z-index: 1;
      }
      .hy-btn-member{
        font-size: rpx(25);
        font-weight: bold;
        line-height: rpx(38);
        position: absolute;
        top: rpx(70);
        text-align: center;
        left: rpx(10);
        background:linear-gradient(-15deg,#FB9F70,#FE6F48);
        color: #FFFFFF;
        letter-spacing: rpx(1);
        padding:rpx(12);
        border-radius:rpx(19);
        z-index: 100;
        width: rpx(350);

      }
      .hy-btn {
        right: rpx(14);
        background: #FFF;
        color: $color-word-alarm;
        letter-spacing: rpx(1);
        padding: 0 rpx(12);
        border-radius:rpx(19);
        z-index: 1;
      }
      .hy-word {
        position: absolute;
        bottom: rpx(58);
        left: rpx(30);
        font-size: rpx(32);
        color: #FFF;
        letter-spacing: rpx(6);
        z-index: 1;
        font-weight: bolder;
      }
      .hy-word-wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .m-partner,
  .m-order-outer,
  .m-hy {
    padding: 0 $page-padding-lr;
  }
  .m-partner {
    height: rpx(86);
    .m-partner-inner {
      height: 100%;
      line-height: rpx(86);
      text-align: center;
      background: linear-gradient(-2deg,rgba(255,127,0,1),rgba(255,199,66,1));
      border-radius: rpx(40);
      image {
        width: rpx(27);
        height: rpx(25);
        margin-right: rpx(20);
      }
      text {
        font-size: rpx(26);
        color: #FFF;
        font-weight: bolder;
      }
    }
  }
  .m-order-innder {
    background: #FFF;
    padding: 0 rpx(21) rpx(22) rpx(21);
    border-radius: rpx(10);
    margin: rpx(30) 0 rpx(16) 0;
    .m-order-title {
      height: rpx(66);
      display: flex;
      position: relative;
      @include borderBottomOnePx;
      align-items: center;
      text:nth-of-type(1) {
        flex: 1;
        font-weight: bolder;
        font-size: $size-four;
      }
      text:nth-of-type(2) {
        color: $color-word-four;
        margin-right: rpx(10);
      }
      image {
        width: rpx(12);
        height: rpx(18);
      }
    }
    .m-order-title.m-order-title-order {
      height: rpx(80);
    }
    .m-order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: rpx(30);
      view {
        text-align: center;
        image {
          margin-bottom: rpx(10);
        }
      }
      .order_a image{ width: rpx(41); height: rpx(35); }
      .order_b image{ width: rpx(41); height: rpx(35); }
      .order_c image{ width: rpx(41); height: rpx(35); }
      .order_d image{ width: rpx(41); height: rpx(35); }
      .order_e image{ width: rpx(41); height: rpx(35); }
      .order_a,.order_b,.order_c,.order_d,.order_e{
        .A{
          width: rpx(30);
          height: rpx(30);
          border-radius: 50%;
          position: absolute;
          margin-top: rpx(-60);
          margin-left: rpx(35);
          background: red;
          color: #FFFFFF;
          border: rpx(3) solid #FF840A;
        }
      }
    }
  }

  .m-service-outer {
    padding: rpx(46) rpx(22);
    background: #FFF;
    .m-service-title {
      margin-bottom: rpx(44);
      padding-left: rpx(26);
      font-weight: bolder;
      font-size: $size-four;
    }
    .m-service-item {
      display: flex;
      justify-content: space-between;
      padding: 0 rpx(50);
      margin-bottom: rpx(48);
      view {
        text-align: center;
        image {
          margin-bottom: rpx(15);
        }
      }
      .service-a image { width: rpx(24); height: rpx(26); }
      .service-b image { width: rpx(24); height: rpx(30); }
      .service-c image { width: rpx(30); height: rpx(30); }
      .service-d image { width: rpx(29); height: rpx(30); }
      .service-e image { width: rpx(28); height: rpx(31); }
    }
  }
}

