@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
}
.partner-ctner{
    .partner-swiper-wrap {
        swiper {
            height: rpx(220);
            swiper-item {
                width: 60%!important;
                margin-left: 20%;
                view {
                    position: relative;
                    width: 90%;
                    height: 100%;
                    margin-left: 5%;
                    background: red;
                    border-radius: rpx(10);
                    color: #FFF;
                    text {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: rpx(36);
                    }
                }
                .partner-same {
                    height: 80%;
                    margin-top: 5%;
                    transition: all 0.5s linear
                }
                .partner-same.active {
                    height: 100%;
                    margin-top: 0;
                }
                .p-a {
                    background: #FFB92B;
                    text {
                        text-shadow:0px 4px 3px rgba(225,152,10,0.99);
                    }
                }
                .p-b {
                    background: #FFA02E;
                    text {
                        text-shadow:0px 4px 3px rgba(199,60,10,0.63);
                    }
                }
                .p-c {
                    background: #363636;
                    text {
                        text-shadow:0px 4px 3px rgba(0, 0, 0, 0.63);
                    }
                }
            }
        }
    }
    .icx-btn-same-sure {
        color: #FFF;
        margin: rpx(18) 0 rpx(30) 25%;
        width: 50%;
        height: rpx(70);
        line-height: rpx(70);
        background:rgba(241,202,150,1);
        border-radius: rpx(30);
        background:linear-gradient(0deg,rgba(255,127,0,1),rgba(255,210,0,1));
        letter-spacing: rpx(4);
        font-weight: bolder
    }
    .des {
        letter-spacing: rpx(1);
        text-align: center;
        height: rpx(22);
        font-size: rpx(22);
        color:rgba(51,51,51,1)
    }
    .par-word-same:nth-of-type(1) {
        margin-top: rpx(20);
    }
    .par-word-same {
        padding: 0 rpx(50);
        margin: rpx(10) 0;
        .par-word-con {
            padding: rpx(6) rpx(10);
            border:1px solid rgba(250,205,137,1);
            border-radius: rpx(10);
        }
        text {
            font-size: $size-one;
            line-height: 1.6;
        }
        text:nth-of-type(1) {
            font-weight: bolder;
            font-size: $size-three;
        }
    }

    .par-img-same {
        padding:  0 rpx(110);
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-top: rpx(24);
        .par-img-item {
            text-align: center;
            image {
                width: rpx(68);
                height: rpx(68);
                margin-bottom: rpx(8);
            }
        }
    }

    .img-bottom {
        text-align: center;
        image {
            width: rpx(244);
            height: rpx(193);
            display: inline-block;
        }
    }


}