@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    height: 100%;
}
.culture-ctner{
    height: 100%;
    position: relative;
    padding: rpx(28) rpx(30);
}
