@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
    height: 100%;
}
.order-ctner{
   position: relative;
   background: #EEE;
   height: 100%;
   padding-top: rpx(62);
   .order-top-outer {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       background: #FFF;
       height: rpx(62);
       @include borderTopOnePx;
       padding: rpx(0) rpx(45);
       align-items: center;
       display: flex;
       justify-content: space-between;
       .ot-same {
           padding: 0 rpx(10);
           height: rpx(60);
           line-height: rpx(60);
           font-size: $size-one;
           border-bottom: rpx(2) solid #FFF;
         font-weight: bold;
       }
       .ot-same.active {
           color: $color-word-alarm;
           border-color: $color-word-alarm
       }
   }
   .order-top-con {
      padding: rpx(15) rpx(30);
       height: 100%;
       swiper {
           height: 100%;
       }
       .swiper-div-same {
           height: 100%;
           width: 100%;
           //overflow: auto;
        }
   }
   .order-com {
       margin-bottom: rpx(20);
   }
   .after-no-wrap {
       height: 100%;
       width: 100%;
       background: #FFF;
       text-align: center;
       image {
           width: rpx(117);
           height: rpx(117);
           border-radius: 50%;
           margin: rpx(156) 0 rpx(10) 0;
       }
       view {
            color: $color-word-three;
       }
   }
}

/* 自定义模态框 start */
.modal-mask {  //阴影
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 2147483647;
  color: #fff;
}
.modal-content {  //弹框
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 2147483647;
  width: 70%;
  height: 50%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: -10% 15%;
  border-radius: rpx(10);
  .heard{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    view:nth-of-type(1){
      width: 100%;
      height: 100%;
      image{
        width: 100%;
        height: 100%;
      }
    }
  }
}

