@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';

page{
    height: 100%;
}
.goods-detail-ctner{
    height: 100%;
    padding-bottom: rpx(100);
    position: relative;
    .goods-con-outer {
        height: 100%;
        overflow: auto;
    }
   .goods-banner {
       //height: rpx(438);
        swiper,
        swiper-item,
        swiper-item image {
            width: 100%;
            //height: 100%;
            vertical-align: middle;
        }
     .dynamic-img{
       height: 100%;
     }
   }
   .goods-des-outer {
       padding: rpx(20) rpx(46);
       .price-outer {
           display: flex;

           align-items: center;
           .price-a {
                flex: 1;
                // font-size: 0;
                width: 100%;
                .price-a-t {
                    width: 100%;
                    .price-1 {
                        font-weight: bolder;
                        font-size: $size-six;
                        color: $color-word-alarm;
                        margin-right: rpx(28);
                    }
                    .price-2 {
                        font-size: $size-three;
                        color: #000
                    }
                    image {
                        height: rpx(25);
                        width: rpx(74);
                        vertical-align: middle;
                        margin-left: rpx(12);
                    }
                }
                .price-a-b {
                    width: 100%;
                    text {
                        font-size: $size-unit;
                        color: $color-word-three;
                        text-decoration: line-through;
                    }
                }

           }
           .price-c,
           .price-b {
               text-align: center;
               padding: 0 rpx(20);
                image {
                    width: rpx(32);
                    height: rpx(32);
                    margin-bottom: rpx(6);
                }
                view {
                    font-size: $size-one;
                }
           }
       }
       .desc-outer {
           display: flex;
           margin: rpx(48) 0 rpx(10) 0;
          padding-top: rpx(10);
         text:nth-of-type(1) {
                font-size: $size-three;
                font-weight: bolder;
                color: #000;
                flex: 1;
           }
           text:nth-of-type(2) {
                font-size: $size-one;
                font-weight: bolder;
                color: $color-word-four;
            }
        }
        .desc-sub-outer {
            color: $color-word-four;
            font-size: $size-one
        }
   }
   .G-line {
       height: rpx(8);
       background: #EDEDED
   }

   .member-outer {
       height: rpx(74);
       padding: 0 rpx(44);
       .member-bg {
           position: relative;
           height: 100%;
           line-height: rpx(74);
           text-align: center;
           background:linear-gradient(101deg,rgba(57,57,56,1),rgba(0,0,0,1));
           border-radius: rpx(12);
           overflow: hidden;
           padding-right: rpx(182);
           color: #FFF;
           font-size: $size-one;
       }
       .btn {
           position: absolute;
           top: 0;
           right: rpx(-2);
           height: 100%;
           width: rpx(182);
           background:rgba(248,222,173,1);
           border-radius: rpx(10);
           line-height: rpx(74);
           image {
               width: rpx(11);
               height: rpx(18);
               margin-left: rpx(6);
           }
           text {
               color: $color-word-one;
           }
       }
   }

   .goods-detail image {
       width: 100%;
   }
   .goods-bottom {
       position: fixed;
       @include borderTopOnePx;
       left: 0;
       bottom: 0;
       width: 100%;
       height: rpx(98);
       display: flex;
       background: #FFF;
       .gb-kf,
       .gb-cart {
           display: flex;
           align-items: center;
            .icx-btn {
                background: #FFF;
                padding: 0;
                line-height: 1;
                border-radius: 0;
                view {
                    margin-top: rpx(8)
                }
            }
       }
       .gb-kf {
           padding: rpx(12) 0;
           width: rpx(144);
           overflow: hidden;
            .icx-btn {
                image {
                    width: rpx(32);
                    height: rpx(32);
                }
            }
       }
       .gb-cart {
           position: relative;
           width: rpx(142);
           padding: rpx(12) 0;
           @include borderRightOnePx;
           @include borderLeftOnePx;
           .icx-btn {
                image {
                    width: rpx(32);
                    height: rpx(32);
                }
            }
       }
       .gb-tuan,
       .gb-join,
       .gb-buy {
            flex: 1;
            border-radius: rpx(10);
            text-align: center;
            line-height: rpx(98);
            font-weight: bolder;
       }
       .gb-join {
            background:rgba(238,238,238,1);
       }
       .gb-buy {
            background:rgba(255,127,0,1);
            color: #FFF;
       }
   }
}

.goods-spc-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    .goods-spc-con {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: rpx(700);
        background: #FFF;
        .goods-des{
            position: relative;
            min-height: rpx(124);
            display: flex;
            padding: rpx(16) rpx(44) rpx(18) rpx(44);
            @include borderBottomOnePx;
            .des-l {
                width: rpx(124);
                margin-right: rpx(24);
                image {
                    width: 100%;
                    height: 100%;
                }
            }
            .des-r {
                flex: 1;
                view:nth-of-type(1) {
                    color: $color-word-alarm;
                    font-size: $size-unit;
                }
                view:nth-of-type(2) {
                    color: #999;
                    font-size: rpx(16);
                    margin-top: rpx(12);
                    margin-bottom: rpx(30);
                }
                view:nth-of-type(3) {
                    font-size: rpx(24);
                }
            }
        }

        .goods-pop-same {
            position: relative;
            padding: rpx(16) rpx(44) rpx(18) rpx(44);
            // height: auto;
            min-height: rpx(10);
            @include borderBottomOnePx;
            .goods-pop-title {
                font-size: $size-one;
                margin-bottom: rpx(12);
            }
            .goods-outer-same {
                overflow: hidden;
            }
            .goods-color-outer {
                height: auto;
                overflow: hidden;
            }
            .small {
                padding: rpx(8) rpx(20);
                border-radius: rpx(8);
                background:rgba(238,238,238,1);
                float: left;
                margin-right: rpx(12);
                margin-bottom: rpx(8);
            }
            .small.active {
                background: $color-word-alarm;
                color: #FFF;
            }
            &.goods-buy-num {
                display: flex;
                align-items: center;
                .goods-pop-title {
                    flex: 1;
                }
                .goods-pop-title {
                    margin: 0;
                }
            }
        }
        .goods-pop-same.goods-buy-btn {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            @include borderTopOnePx;
            button {
                width: 76%;
                border-radius: rpx(30);
                margin-left: 12%;
            }
        }
    }
}

.share-outer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 999;
    .share-inner {
        height: 100%;
        width: 100%;
        padding-bottom: rpx(166);
        .share-img-con {
            position: relative;
            width: 100%;
            height: 100%;
            image {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: rpx(562);
                height: rpx(746);
                border-radius: rpx(10);
            }
        }
        .share-btn-wrap {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #FFF;
            width: 100%;
            height: rpx(166);
            .sure-btns {
                height: rpx(110);
                display: flex;
                align-items: center;
                .btn {
                    flex: 1;
                    text-align: center;
                    .icx-clear-after-border {
                        padding: 0;
                        margin: 0;
                        line-height: 1;
                        width: 100%;
                        border-radius: 0;
                        background: #FFF;
                    }
                    image {
                        width: rpx(48);
                        height: rpx(48);
                        margin-bottom: rpx(6);
                    }
                    view {
                        width: 100%;
                    }
                }
            }
            .cancel-btn {
                height: rpx(56);
                line-height: rpx(56);
                background:rgba(238,238,238,1);
                opacity:0.57;
                text-align: center;
            }

            .open-btn-wrap {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                .icx-btn-same-sure {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: $size-six;
                    justify-content: center;
                }
            }

        }
    }
}

