@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
}
.address-edit-ctner {
   .ade-same {
       height: rpx(74);
       position: relative;
       @include borderBottomOnePx;
       display: flex;
       align-items: center;
       padding: 0 rpx(46);
       .ade-a {
           width: rpx(130);
       }
       .ade-b {
           flex: 1;
           input {
               border-radius: 0;
               background: #FFF;
           }
       }
       .ade-c {
           width: rpx(11);
           height: rpx(18);
       }
   }
}