@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
.order-item-ctner{
    background: #FFF;
    padding: rpx(20);
    border-radius: rpx(8);
}
 .num-outer{
     height: rpx(40);
     display: flex;
     align-items: center;
     font-size: rpx(28);
     margin-bottom: rpx(20);
     .text:nth-of-type(1) {
        color: #646464
     }
     .text:nth-of-type(2) {
         flex: 1;
         color: #060606;
     }
     .text:nth-of-type(3) {
        color: #FF7360;        
     }
 }
 .con-outer{
     .item-top{
         height: rpx(140);
         display: flex;
         font-size: rpx(28);
         margin-bottom: rpx(22);
         image{
             width: rpx(140);
             height: rpx(140);
             margin-right: rpx(30);
         }
         .item-des{
             flex: 1;
         }
         .item-des{
             display: flex;
             flex-direction:column;
             view:nth-of-type(1) {
                 flex: 1;
                 font-size: rpx(32);
             }
             view:nth-of-type(2) {
                height: rpx(40);
                line-height: rpx(40);
                color: #646464;
            }
         }
     }
 }
 .bottom-wrap{
    height: rpx(52);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: rpx(28);
    text:nth-of-type(1) {
        color: #646464;
    }
    text:nth-of-type(2) {
        color: #060606;
        font-size: rpx(32);
        margin-right: rpx(40);
    }
    text:nth-of-type(3) {
        color: #646464;
        padding: rpx(14);
        border: 1px solid #646464;
        border-radius: rpx(100);
    }
 }